@model TrainersViewModel
@{
    ViewData["Title"] = "Trainer List";
}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h1>Trainers</h1>
        </div>
        <div class="col-md-2 ms-auto">
            <a class="btn btn-primary" asp-controller="Trainer" asp-action="TrainerForm">Create Trainer</a>
        </div>
    </div>
    <div class="shadow p-3 mb-5 bg-white rounded">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Group</th>
                <th>Order</th>
                <th>Action</th>
            </tr>
            @foreach (var trainer in Model.Trainers)
            {
                <tr>
                    <td>
                        <img src="@Url.Content($"~/img/{@trainer.User.FullName}.png")" style="width:10%;">
                        <a href="/admin/trainers/@trainer.User.Id" style="text-decoration: none;">@trainer.User.FullName</a>
                    </td>
                    <td class="align-middle">@trainer.TrainerGroup.Name</td>
                    <td class="align-middle">@trainer.VisualOrder</td>
                    <td class="align-middle">
                        <div>
                            <a asp-controller="Trainer" asp-action="Update"
                           asp-route-id="@trainer.Id"
                           class="w3-border-yellow w3-round-large w3-white">
                                <i class="bi bi-pencil-fill w3-text-yellow"></i>
                            </a>
                            <button class="w3-border-red w3-round-large bg-white">
                                <a href="/admin/trainers/delete/@trainer.Id">
                                    <i class="bi bi-trash-fill w3-text-red"></i>
                                </a>
                            </button>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>