@model UsersViewModel
@{
    ViewData["Title"] = "Users";
}
<div class="container">
    <h3>Users</h3>
    <div class="w3-show-inline-block">
        <div>
            @if (Model.CanPrevious)
            {
                <a href="/admin/users/?@Model.PreviousPageNumber" class="w3-button">&laquo;</a>
            }
            @foreach (var item in Model.Pagination)
            {
                <a href="/admin/users/?@item" class="w3-button" onclick="location.href ='@Url.Action("IndexUsers", "Account")'">@item</a>
            }
            @if (Model.CanNext)
            {
                <a href="/admin/users/?@Model.NextPageNumber" class="w3-button">&raquo</a>
            }
        </div>
        <div>
            <input type="text" placeholder="Search for ..." />
        </div>
    </div>
    <div>
        <table class="table bg-white shadow">
            <tr class="w3-border-bottom w3-margin" style="border-bottom:medium;">
                <th>Name</th>
                <th>Department</th>
                <th>Position</th>
                <th>Office</th>
                <th>Active?</th>
                <th>Action</th>
            </tr>
            @foreach (var user in Model.Items)
            {
                <tr>
                    <td>
                        <img src="@Url.Content($"~/img/{@user.FullName}.png")" style="width:10%;"/>
                        <a href="/admin/users/@user.Id"  style="text-decoration: none;">@user.FullName</a>
                    </td>
                    <td class="align-middle">@user.Department</td>
                    <td class="align-middle">@user.Position</td>
                    <td class="align-middle">@user.Location</td>
                    <td class="align-middle">@user.EndDate</td>
                    <td class="align-middle">
                        <div>
                                <a asp-controller="User" asp-action="Getuser">
                                    <i class="bi bi-info w3-text-red"></i>
                                </a>
                            <a asp-controller="User" asp-action="UpdateUser"
                           asp-route-id="@user.Id"
                           class="w3-border-yellow w3-round-large w3-white">
                                <i class="bi bi-pencil-fill w3-text-yellow"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
    <div>
    </div>
</div>