@model UsersViewModel
@{
    ViewData["Title"] = "Filtered Users";
}
<div class="container">
    <h3>Users</h3>
    <div class="bg-white shadow p-2">

        <div class="row">
            <div class="col">
                <div class="btn-group w3-bar w3-white w3-round">
                    @if (Model.CanPrevious)
                    {
                        <a href="/admin/users/@Model.PreviousPageNumber" class="w3-button w3-border">&laquo;</a>
                    }
                    @foreach (var item in Model.Pagination)
                    {
                        <a href="/admin/users/@item" class="w3-button w3-border" onclick="location.href ='@Url.Action("IndexUsers", "User")'">@item</a>
                    }
                    @if (Model.CanNext)
                    {
                        <a href="/admin/users/@Model.NextPageNumber" class="w3-button w3-border">&raquo</a>
                    }
                </div>
            </div>
            <div class="col input-group">
                <form  method="get">
                <input type="text" placeholder="Search for..." name="SearchString" />
                <button type="submit" class="btn btn-primary" asp-controller="User" asp-action="SearchUser" >
                    <i class="bi bi-search"></i>
                    </button>
                </form>
            </div>
        </div>
        <table class="table">
            <tr class="w3-border-bottom w3-margin" style="border-bottom:medium;">
                <th>Name</th>
                <th>Department</th>
                <th>Position</th>
                <th>Office</th>
                <th>Active?</th>
                <th>Action</th>
            </tr>
            @foreach (var user in Model.Items)
            {
                <tr>
                    <td>
                        <img src="@Url.Content($"~/img/{@user.FullName}.png")" style="width:10%;" />
                        <a href="/admin/users/@user.Id" style="text-decoration: none;">@user.FullName</a>
                    </td>
                    <td class="align-middle">@user.Department</td>
                    <td class="align-middle">@user.Position</td>
                    <td class="align-middle">@user.Location</td>
                    <td class="align-middle">@user.EndDate</td>
                    <td class="align-middle">
                        <div>
                            <a asp-controller="User" asp-action="GetUser">
                                <i class="bi bi-info w3-text-red"></i>
                            </a>
                            <a asp-controller="User" asp-action="UpdateUserForm"
                           asp-route-id="@user.Id"
                           class="w3-border-yellow w3-round-large w3-white">
                                <i class="bi bi-pencil-fill w3-text-yellow"></i>
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>